.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.bannerTitle {
  margin-top: 1em;
  font-size: 5em;
}

.bannerText { 
  margin: 1.5em 4.5em;
  font-size: 1.2em;
} 

.bannerCta {
  background-color: greenyellow;
  color: black;
  font-weight: 600;
  font-size: 1.5em ;
  border-radius: .5em;
  padding: .5em;
  margin: auto;
  width: 30%;
}

.prdouctList {
  margin: 2em;
}

.listContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  margin: 3em;
}